.tableWrapper {
    width: 100%;
    overflow-x: auto;
    border: 1px solid var(--border);
    background-color: var(--background);
}

/* Tabela */
.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    font-size: 14px;
    color: var(--text-h);
}

/* Cabeçalho */
.table thead {
    background-color: var(--accent);
}

.table th {
    padding: 6px 20px;
    text-align: left;
    font-weight: 600;
    font-size: 13px;
    color: var(--text);
    white-space: nowrap;
    text-wrap: pretty;
}

/* Corpo */
.table td {
    padding: 6px 18px;
    color: var(--text-h);
    /* border: 0.2px solid var(--border); */
    border-bottom: 2px solid var(--border);
    vertical-align: middle;
}

.table tbody tr:hover td {
    background-color: var(--accent-bg);
    transition: background-color 0.55s ease;
}

/*Modificadores*/

.sm{
    min-width: 20px;
}

.md{
    min-width: 50px;
}

.lg{
    min-width: 90px;
}



/* Texto vazio */
.empty {
    width: 100%;
    margin: 0;
    padding: 50px 24px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--text);
    font-size: 14px;

    border: 1px dashed var(--border);
    background-color: var(--background);
}


/* Scrollbar */
.tableWrapper::-webkit-scrollbar {
    height: 7px;
}

.tableWrapper::-webkit-scrollbar-track {
    background: transparent;
}

.tableWrapper::-webkit-scrollbar-thumb {
    background-color: var(--border);
}

.tableWrapper::-webkit-scrollbar-thumb:hover {
    background-color: var(--text);
}

/* Responsividade */
@media (max-width: 768px) {
    .table {
        min-width: 650px;
    }

    .table th,
    .table td {
        padding: 12px 14px;
    }
}